@using PizzaParty.Shared
<h3>PizzaItem</h3>
<div class="row">
    <div class="col">
        @Pizza.Name
    </div>
    <div class="col">
        @Pizza.Price
    </div>
    <div class="col">
        <img class="spicy-img" src="@SpicinessImage(Pizza.Spiciness)" alt ="@Pizza.Spiciness"/>
    </div>
    <div class="col"> <button class="@ButtonClass" title="Order" @onclick="@(()=> Selected(Pizza))">  </button> Add </div>
</div>

@code {
    [Parameter]
    public Pizza Pizza { get; set; }
    [Parameter]
    public string ButtonTitle { get; set; }

    [Parameter]
    public string ButtonClass { get; set;  }
    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public Action<Pizza> Selected { get; set; }

    private string SpicinessImage(Spiciness spiciness) => $"img/{spiciness.ToString().ToLower()}.jpg";
}
